body {
	background: #180000;
	color: #aaa;
}
/* Sections 
----------------------------------------*/

.section {
	padding: 0rem 0 7rem;
}

.spacer-section {
	padding: 3rem 0;
}

.centered {
	text-align: center;
}

/* Main Header
---------------------------------------*/
.section.main-header {
	padding-bottom: 0px;
}

footer,
.main-header {
	background: url('../images/dojo_bg.jpg') no-repeat center center;
	background-size: cover;
	z-index: 10;
	position:relative;
}

footer {
	background-position: center bottom;
	height: 50px;
}

.main-header .crest {
	width: 150px;
	height: 150px;
	margin-bottom: 0px;
	padding-top: 2rem;
	-webkit-transition: all ease 0.9s;
    transition: all ease 0.9s;
}

.section-logo {
	margin-bottom: 0rem;

	-webkit-transition: all ease 1.0s;
    transition: all ease 1.0s;
}

.section-heading {
	-webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
    padding-bottom: 2rem;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.small-header {
	position: fixed;
	left: 0;
	right: 0;	
}

.small-header .section-heading {
	line-height: 0;
	height: 0;
	margin: 0;
	opacity: 0;
}

.small-header .section-logo{
	margin: 0;
	padding: 0;
}

.navigation .crest {
	width: 30px;
	height: 30px;
	padding-top: 0px;
	-webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
    opacity: 0;
}

/* Menu
-----------------------------------------*/

.navigation {
	position: absolute;
	left:0;
	right: 0;
	background: rgba(24,0,0, 1);
	z-index: 9;
	margin-top: -52px;
	padding-top: 10px;
}

.navigation.fixed
{
	position: fixed;
	top: 52px;
}

.navigation.fixed .crest
{
	opacity: 1;
}

nav {
	text-align: center;
}
nav li {
  margin-bottom: 0;
  display: inline-block;
}

nav ul {
	margin:0;
}
nav li {
  width: 50%;
}

nav a {
  position: relative;
  width: 100%;
  margin: 10px 0 4px 0;
  color: #fdfdfd;
  text-transform: capitalize;
}

nav a:hover{
	color: white;
}

nav li:nth-child(2n+1) a:after {
  position: absolute;
  content: '';
  top: 19.5px;
  right: -2.5px;
  z-index: 10;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}


span.spacer { 
  margin-top: -75px;        /* Size of fixed header */
  padding-bottom: 75px; 
  display: block; 
}



/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 550px) {

  nav li {
    width: auto;
  }


  nav a {
    width: 80px;
    border-bottom: 2px solid transparent;
  }

  nav a.nav-active,
  nav a:hover {
  	border-bottom: 2px solid white;
  }

  nav li:nth-child(2n+1) a:after {
    content: none;
  }


}

